<% if current_user.admin %>

<h1 class="">Schwartz Lab Maintenance Page</h1>
<h3><%= link_to "Home", root_path%></h3>
<h3><%= link_to "Add/Delete Methods", maintenance_index_path%></h3>
<h3><%= link_to 'Add/Delete Profile', new_profile_path %></h3>
<h3><%= link_to "Add/Delete Past Member", new_pastmember_path%><span></h3>

<div class="rows">
  <div class="columns small-6">
    <h2>Add news item </h2>
    <div class="" style="background-color:#FFF; border:dashed 2px black;">
      <%= form_for @newstuff do |f| %>

      <%= f.label :description %>
      <%= f.text_field :description %>
	  
	  <%= f.submit "Add News Item" %>

      <% end %>
    </div>
  </div>

  <h2>Delete news item </h2>
  <div class="columns small-6">
    <div class="" style="background-color:#FFF; border:dashed 2px black;">
      <ol>
        <% @newstuffs.each do |newstuff| %>
        <li><%=newstuff.description %> <%= link_to "[x]", newstuff, method: :delete, data: {confirm: "Are you sure you want to delete the '#{newstuff.description}' news item?"} %></li>
        <% end %>
      </ol>
    <div>
  </div>
</div>

<% else %>
<% redirect_to static_pages_index %>
<% end %>
