<h1 class="">Schwartz Lab Maintenance Page</h1>
<h3><%= link_to "Home", root_path%></h3>
<h3><%= link_to 'Add New Profile', new_profile_path %></h3>
<h2>Upload a file</h2>

<div class="rows">
  <div class="columns small-6 column-centered" style="background-color:#FFF; border:dashed 2px black;">
    <%= form_for @labmethod, url: {controller: "labmethods", action: "create"} do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.select :methodtype, ['biological', 'philosophy', 'programming']%>

    <%= f.file_field :pdf_file %>

    <%= f.submit "Add new pdf" %>
    <% end %>
  </div>
</div>

<!-- <h2>========</h2> -->
<div class ="columns small-6 column-centered">

</div>